<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKZZKF6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div *ngIf="showStep1">
  <ngb-progressbar striped="true" inputmode="" animated="true"  type="dark" [value]="1" [max]="maxTab" height="10px"></ngb-progressbar>
  <div class="row text-center" style="margin: 25px">
    <div class="col-12">
      <div class="content-header">{{'pwl-individual-register.personal.infos' | translate}}</div>
      <p class="content-sub-header">
        {{'pwl-individual-register.personal.infos.text' | translate}}
      </p>
    </div>
  </div>
  <div  class="form-group-div text-center" novalidate >
    <div class="form-group text-left">
      <label>{{'pwl-individual-register.name' | translate}}</label>
      <input type="text" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group text-left">
      <label>{{'pwl-individual-register.surname' | translate}}</label>
      <input type="text" class="form-control" [(ngModel)]="surname">
    </div>
    <div class="form-group text-left">
      <label>{{'pwl-individual-register.citizenship.number' | translate}}</label>
      <input type="number" (keypress)="onlyNumbersAllowed($event)" onKeyDown="if(this.value.length==11 && event.keyCode!=8) return false;" class="form-control" [(ngModel)]="citizenshipNumber">
    </div>
    <div class="form-group text-left">
      <label>{{'pwl-individual-register.birth.date' | translate}}</label>
      <input type='date' class="form-control" [(ngModel)]="birthdate"/>
    </div>
    <div class="form-group text-left">
      <label class="col-9">{{'pwl-individual-register.iban' | translate}}</label>
      <label class="col-3 text-right"><i class="ft-info font-medium-2"
                                                                placement="top-right" ngbTooltip="This is Tooltip"
                                                                #ibanToolTip="ngbTooltip" (click)="ibanToolTip.open()"></i></label>
                                                                <div class="input-group mb-3">
                                                                  <div class="input-group-prepend">
                                                                    <span class="input-group-text">TR</span>
                                                                  </div>
                                                                  <input type="text" (input)="ibanMask($event)" class="form-control" [(ngModel)]="iban">
                                                                </div>
    </div>
    <div class="form-group text-left">
      <label>{{'pwl-individual-register.city' | translate}}</label>
      <ng-select [items]="cityList"
            bindLabel="name"
            [(ngModel)]="city"
            (ngModelChange)="citySelect()">
      </ng-select>
    </div>
    <div class="form-group text-left">
      <label>{{'pwl-individual-register.town' | translate}}</label>
      <ng-select [items]="townList"
            bindLabel="name"
            [(ngModel)]="town">
      </ng-select>
    </div>
    <div class="form-group text-left">
      <label class="col-9">{{'pwl-individual-register.address' | translate}}</label>
      <label class="col-3 text-right"><i class="ft-info font-medium-2"
                                                                placement="top-right" ngbTooltip="This is Tooltip"
                                                                #addressTooltip="ngbTooltip" (click)="addressTooltip.open()"></i></label>
      <textarea class="form-control" rows="3" [(ngModel)]="address" #addressInput></textarea>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-secondary" style="visibility:hidden">
      {{'pwl-individual-register.back' | translate}}</button>

      <button type="submit" class="btn btn-primary"
              (click) ="nextStep(2)">
      {{'pwl-individual-register.next' | translate}}</button>
    </div>
  </div>
</div>
<div *ngIf="showStep2">
  <ngb-progressbar striped="true" inputmode="" animated="true"  type="dark" [value]="2" [max]="maxTab" height="10px"></ngb-progressbar>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="row text-center" style="margin: 25px">
        <div class="col-12">
          <div class="content-header">{{'pwl-individual-register.doc.upload' | translate}}</div>
          <p class="content-sub-header">
            {{'pwl-individual-register.doc.upload.text' | translate}}
          </p>
        </div>
      </div>
      <label class="col-9" style="padding: 0px;">{{'pwl-individual-register.phone.doc' | translate}}</label>
      <label class="col-3 text-right" style="padding: 0px;"><i class="ft-info font-medium-2" style="padding: 0px;"
                                                               placement="top-right" ngbTooltip="This is Tooltip"
                                                               #phoneDocTooltip="ngbTooltip" (click)="phoneDocTooltip.open()"></i></label>
      <input type="file" class="form-control" [(ngModel)]="phoneDoc"/>

    </div>
  </div>
  <div class="row align-items-center">
  <div class="col-md-12 text-center">
    <button type="button" class="btn btn-secondary"
            (click)="backStep(1)">
      {{'pwl-individual-register.back' | translate}}</button>

    <button type="button" class="btn btn-primary"
            (click)="nextStep(3)">
      {{'pwl-individual-register.next' | translate}}</button>
  </div>
</div>
</div>
<div *ngIf="showStep3">
  <ngb-progressbar striped="true" inputmode="" animated="true"  type="dark" [value]="3" [max]="maxTab" height="10px"></ngb-progressbar>
  <div class="row align-items-center">
    <div class="col-md-6 offset-md-3">
      <div class="row text-center" style="margin: 25px">
        <div class="col-12">
          <div class="content-header">{{'pwl-individual-register.shop.infos' | translate}}</div>
          <p class="content-sub-header">
            {{'pwl-individual-register.shop.infos.text' | translate}}
          </p>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="form-group-div align-items-center">
      <div class="form-group text-left">
        <label class="col-9" style="padding: 0px;">{{'pwl-individual-register.shop.name' | translate}}</label>
        <label class="col-3 text-right" style="padding: 0px;"><i class="ft-info font-medium-2" style="padding: 0px;"
                                                                 placement="top-right" ngbTooltip="This is Tooltip"
                                                                 #shop_nameTooltip="ngbTooltip" (click)="shop_nameTooltip.open()"></i></label>
        <input type="text" class="form-control" [(ngModel)]="shopName">
      </div>
      <div class="form-group text-left">
        <label class="col-9" style="padding: 0px;">{{'pwl-individual-register.service.industry' | translate}}</label>
        <label class="col-3 text-right" style="padding: 0px;"><i class="ft-info font-medium-2" style="padding: 0px;"
                                                                 placement="top-right" ngbTooltip="This is Tooltip"
                                                                 #industryTooltip="ngbTooltip" (click)="industryTooltip.open()"></i></label>
        <ng-select [items]="parentSectorInfos"
                   bindLabel="description"
                   [(ngModel)]="serviceIndustry">
        </ng-select>
      </div>
      <div class="form-group text-left">
        <label class="col-9" style="padding: 0px;">{{'pwl-individual-register.info.about.products' | translate}}</label>
        <label class="col-3 text-right" style="padding: 0px;"><i class="ft-info font-medium-2" style="padding: 0px;"
                                                                 placement="top-right" ngbTooltip="This is Tooltip"
                                                                 #product_infoTooltip="ngbTooltip" (click)="product_infoTooltip.open()"></i></label>
        <textarea class="form-control" rows="3" [(ngModel)]="productsInfo"></textarea>
      </div>
      <div class="form-group text-left">
        <label class="col-9" style="padding: 0px;">{{'pwl-individual-register.product.contact.channel.link' | translate}}</label>
        <label class="col-3 text-right" style="padding: 0px;"><i class="ft-info font-medium-2" style="padding: 0px;"
                                                                 placement="top-right" ngbTooltip="This is Tooltip"
                                                                 #channel_linkTooltip="ngbTooltip" (click)="channel_linkTooltip.open()"></i></label>
        <input type="text" class="form-control" [(ngModel)]="channelLink">
      </div>

    <div class="row socialMediaItemComponent">
      <div class="col-8 text-left">
        <i class="ft-facebook social-media-icon"> </i>
        <label>{{'pwl-corporate-register.facebook' | translate}}</label>
      </div>

      <div class="col-4 text-right socialMediaToggle">
        <label class="switch">
          <input [(ngModel)]="hasFacebookLink" (click)="changeSocialMediaSliderStatus('facebook')" type="checkbox"/>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div *ngIf="hasFacebookLink" class="text-left">
      <input type="text" class="form-control" [(ngModel)]="facebook">
    </div>
    <div class="row socialMediaItemComponent">
      <div class="col-8 text-left">
        <i class="ft-youtube social-media-icon"> </i>
        <label>{{'pwl-individual-register.youtube' | translate}}</label>
      </div>

      <div class="col-4 text-right socialMediaToggle">
        <label class="switch">
          <input [(ngModel)]="hasYoutubeLink" (click)="changeSocialMediaSliderStatus('youtube')" type="checkbox"/>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div *ngIf="hasYoutubeLink" class="text-left">
      <input type="text" class="form-control" [(ngModel)]="youtube">
    </div>
    <div class="row socialMediaItemComponent">
      <div class="col-8 text-left">
        <i class="ft-instagram social-media-icon"> </i>
        <label>{{'pwl-individual-register.instagram' | translate}}</label>
      </div>

      <div class="col-4 text-right socialMediaToggle">
        <label class="switch">
          <input [(ngModel)]="hasInstagramLink" (click)="changeSocialMediaSliderStatus('instagram')" type="checkbox"/>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div *ngIf="hasInstagramLink" class="text-left">
      <input type="text" class="form-control" [(ngModel)]="instagram">
    </div>
    <div class="row socialMediaItemComponent">
      <div class="col-8 text-left">
        <i class="ft-twitter social-media-icon"> </i>
        <label>{{'pwl-individual-register.twitter' | translate}}</label>
      </div>

      <div class="col-4 text-right socialMediaToggle">
        <label class="switch">
          <input [(ngModel)]="hasTwitterLink" (click)="changeSocialMediaSliderStatus('twitter')" type="checkbox"/>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div *ngIf="hasTwitterLink" class="text-left">
      <input type="text" class="form-control" [(ngModel)]="twitter">
    </div>

  </div>

  <div class="row align-items-center">
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-secondary"
              (click)="backStep(2)">
        {{'pwl-individual-register.back' | translate}}</button>

      <button type="submit" class="btn btn-primary"
              (click)="nextStep(4)">
        {{'pwl-individual-register.next' | translate}}</button>
    </div>
  </div>
</div>
<div *ngIf="showStep4">
  <ngb-progressbar striped="true" inputmode="" animated="true"  type="dark" [value]="4" [max]="maxTab" height="10px"></ngb-progressbar>
  <div class="row text-center" style="margin: 25px">
    <div class="col-12">
      <div class="content-header">{{'pwl-individual-register.application.summary' | translate}}</div>
      <p class="content-sub-header">
        {{'pwl-individual-register.application.summary.text' | translate}}
      </p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-12 text-center">
      <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row text-center" style="margin: 25px">
            <div class="col-12">
              <div class="content-header">{{'pwl-individual-register.personal.infos' | translate}}</div>
              <p class="content-sub-header">
                {{'pwl-individual-register.personal.infos.text' | translate}}
              </p>
            </div>
          </div>
          <div class="form-group-div text-center">
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.name' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="name" readonly>
            </div>
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.surname' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="surname" readonly>
            </div>
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.citizenship.number' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="citizenshipNumber" readonly>
            </div>
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.birth.date' | translate}}</label>
              <input type="date" class="form-control" [(ngModel)]="birthdate" readonly>
            </div>
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.iban' | translate}}</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">TR</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="iban" readonly>
              </div>
            </div>
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.city' | translate}}</label>
              <ng-select [items]="cityList"
                    bindLabel="name"
                    [(ngModel)]="city"
                    disabled>
              </ng-select>
            </div>
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.town' | translate}}</label>
              <ng-select [items]="townList"
                    bindLabel="name"
                    [(ngModel)]="town"
                    disabled>
              </ng-select>
            </div>
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.address' | translate}}</label>
              <textarea class="form-control" rows="3" [(ngModel)]="address" readonly></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="row text-center" style="margin: 25px">
                <div class="col-12">
                  <div class="content-header">{{'pwl-individual-register.doc.upload' | translate}}</div>
                  <p class="content-sub-header">
                    {{'pwl-individual-register.doc.upload.text' | translate}}
                  </p>
                </div>
              </div>
              <div class="form-group-div text-left">
                <label class="col-12" style="padding: 0px;">{{'pwl-individual-register.phone.doc' | translate}}</label>
                <input type="file" class="form-control" [(ngModel)]="phoneDoc" readonly/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">

          <div class="row text-center" style="margin: 25px">
            <div class="col-12">
              <div class="content-header">{{'pwl-individual-register.shop.infos' | translate}}</div>
              <p class="content-sub-header">
                {{'pwl-individual-register.shop.infos.text' | translate}}
              </p>
            </div>
          </div>
          <div class="form-group-div text-center">
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.shop.name' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="shopName" readonly>
            </div>
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.service.industry' | translate}}</label>
              <ng-select [items]="parentSectorInfos"
                    bindLabel="description"
                    [(ngModel)]="serviceIndustry"
                    disabled>
              </ng-select>
            </div>
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.info.about.products' | translate}}</label>
              <textarea class="form-control" rows="3" [(ngModel)]="productsInfo" readonly></textarea>
            </div>
            <div class="form-group text-left">
              <label class="col-12">{{'pwl-individual-register.product.contact.channel.link' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="channelLink" readonly>
            </div>


            <div *ngIf="hasFacebookLink" class="row">
              <div class="col-8 text-left">
                <i class="ft-facebook social-media-icon"> </i>
                <label>{{'pwl-individual-register.facebook' | translate}}</label>
              </div>

            </div>
            <div *ngIf="hasFacebookLink" class="form-group text-left">
              <input type="text" class="form-control" [(ngModel)]="facebook" readonly>
            </div>


            <div *ngIf="hasYoutubeLink" class="row">
              <div class="col-8 text-left">
                <i class="ft-youtube social-media-icon"> </i>
                <label>{{'pwl-individual-register.youtube' | translate}}</label>
              </div>

            </div>
            <div *ngIf="hasYoutubeLink" class="form-group text-left">
              <input type="text" class="form-control" [(ngModel)]="youtube" readonly>
            </div>
            <div *ngIf="hasInstagramLink" class="row">
              <div class="col-8 text-left">
                <i class="ft-instagram social-media-icon"> </i>
                <label>{{'pwl-individual-register.instagram' | translate}}</label>
              </div>

            </div>
            <div *ngIf="hasInstagramLink" class="form-group text-left">
              <input type="text" class="form-control" [(ngModel)]="instagram" readonly>
            </div>


            <div *ngIf="hasTwitterLink" class="row">
              <div class="col-8 text-left">
                <i class="ft-twitter social-media-icon"> </i>
                <label>{{'pwl-individual-register.twitter' | translate}}</label>
              </div>

            </div>
            <div *ngIf="hasTwitterLink" class="form-group text-left">
              <input type="text" class="form-control" [(ngModel)]="twitter" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox"
              [(ngModel)]="contract1approved">
      <a style="text-decoration: underline" (click)="openContactModelOpen(contractModal, contract1, 1)" class="form-check-label">{{contract1.title}}</a>
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox"  [(ngModel)]="contract2approved">
      <a style="text-decoration: underline" (click)="openContactModelOpen(contractModal, contract2, 2)" class="form-check-label">{{contract2.title}}</a>
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox"
              [(ngModel)]="contract3approved">
      <a style="text-decoration: underline" (click)="openContactModelOpen(contractModal, contract3, 3)" class="form-check-label">{{contract3.title}}</a>
    </div>
    <button type="button" class="btn btn-secondary" (click)="backStep(3)">
    {{'pwl-individual-register.back' | translate}}</button>
    <button type="button" class="btn btn-primary" (click)="complete()">
    {{'pwl-individual-register.complete' | translate}}</button>
  </div>
</div>
<ng-template #contractModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{openedContractTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [innerHTML]="openedContractContent"></div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <button type="button" class="btn btn-light" (click)="modal.close('closed'); contractApprove();" >Onayla</button>
          <button type="button" class="btn btn-light" (click)="modal.close('Click to closed')">Vazgec</button>
        </div>
      </div>
    </div>

  </div>
</ng-template>
