<!--Login Page Starts-->
<section id="reset-password">
  <div class="row auth-height full-height-vh m-0"><div class="row full-width justify-content-end" style="position:absolute;z-index: 9999"> <app-lang-selector></app-lang-selector></div>
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                <img src="assets/img/gallery/login.png" alt="" class="img-fluid" width="300" height="230">
              </div>
              <div class="col-lg-6 col-12 px-4 py-3">
                <h4 class="mb-2 card-title">{{'reset-password.welcome.header' | translate }}</h4>
                <p *ngIf="alert.type !== 'success'">{{'reset-password.welcome.message' | translate }}</p>
                <hr>

                <form [formGroup]="resetForm" *ngIf="alert.type !== 'success'">
                  <div class="form-group">
                    <input type="text" formControlName="email" class="form-control" [placeholder]="'reset-password.placeholder.email' | translate"
                      [ngClass]="{ 'is-invalid': formSubmitted && lf.email.invalid, 'is-valid': formSubmitted && !lf.email.invalid }"
                      required>
                    <div *ngIf="formSubmitted && (lf.email.invalid || lf.email.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> {{'reset-password.error.required' | translate }}</div>
                    <div *ngIf="formSubmitted && (lf.email.invalid || lf.email.errors?.email)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> {{'reset-password.error.email' | translate }}</div>
                  </div>

                  <div class="d-flex justify-content-end flex-sm-row flex-column">
                    <a  class="btn btn-dark" (click)="onSubmit()">{{'reset-password.button.submit' | translate }}</a>
                  </div>
                </form>

                <div *ngIf="alert.type === 'success'">
                  <p>{{ alert.message | translate }}</p>
                </div>
                <hr>

                <div class="d-sm-flex justify-content-end font-small-2">
                  <a [routerLink]="['/']">{{'reset-password.link.homePage' | translate }}</a>
                  <ngx-spinner><p *ngIf="spinnerText" style="font-size: 20px; color: white">{{spinnerText | translate}}</p></ngx-spinner>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
