<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKZZKF6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div *ngIf="visibility">
    <div class="row">
        <div class="col-12">
            <div class="content-header">{{'pay-with-link.complete.infos' | translate}}</div>
            <p class="content-sub-header">
            {{'pay-with-link.complete.infos.text' | translate}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 justify-content-center align-items-center">
            <a routerLink="/pwl-individual-register">
                <button><i class="ft-user mr-2"></i>{{'pay-with-link.individual' | translate}}</button>
            </a>
            <a routerLink="/pwl-corporate-register">
                <button><i class="ft-shopping-cart mr-2"></i>{{'pay-with-link.corporate' | translate}}</button>
            </a>
        </div>
    </div>
</div>
