<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKZZKF6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="row">
    <div class="col-12">
        <div class="content-header">{{'account-summary.my.orders' | translate }}</div>
    </div>
</div>

<div class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
        <div class="card">
            <div class="card-content">
                <div class="card-body" style="height:170px">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 primary">16</h3>
                            <span>{{'account-summary.opened.order' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
        <div class="card">
            <div class="card-content">
                <div class="card-body" style="height:170px">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 secondary">4</h3>
                            <span>{{'account-summary.opened.return.request' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
        <div class="card">
            <div class="card-content">
                <div class="card-body" style="height:170px">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 success">1280</h3>
                            <span>{{'account-summary.total.order.until.today' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
        <div class="card">
            <div class="card-content">
                <div class="card-body" style="height:170px">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 danger">48</h3>
                            <span>{{'account-summary.total.return.until.today' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{'account-summary.best.selling.products' | translate }}
                </h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <!-- bilgiler buraya gelecek -->
                    <div class="lineArea">
                    </div>
                    <!-- bilgi yoksa bu yazacak -->
                    <div class="col-12 col-sm-12" style="background-color: white;height: 10rem">
                        <label>{{'account-summary.no.data.to.display' | translate }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="content-header">{{'account-summary.my.sales' | translate }}</div>
    </div>
</div>

<div class="row">
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
        <div class="card">
            <div class="card-content">
                <div class="card-body" style="height:170px">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 warning">1280</h3>
                            <span>{{'account-summary.pending.payment' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
        <div class="card">
            <div class="card-content">
                <div class="card-body" style="height:170px">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 info">1 Şub</h3>
                            <span>{{'account-summary.next.payment.date' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
        <div class="card">
            <div class="card-content">
                <div class="card-body" style="height:170px">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 text-secondary">980</h3>
                            <span>{{'account-summary.todays.sale' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
        <div class="card">
            <div class="card-content">
                <div class="card-body" style="height:170px">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 dark">2048</h3>
                            <span>{{'account-summary.total.sales.until.today' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{'account-summary.sales.time.chart' | translate }}
                </h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <!-- bilgiler buraya gelecek -->
                    <div class="lineArea">
                    </div>
                    <!-- bilgi yoksa bu yazacak -->
                    <div class="col-12 col-sm-12" style="background-color: white;height: 10rem">
                        <label>{{'account-summary.no.data.to.display' | translate }}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
