<!--Login Page Starts-->
<section id="change-password">
  <div class="row auth-height full-height-vh m-0">
    <div class="row full-width justify-content-end" style="position:absolute;z-index: 9999">
      <app-lang-selector></app-lang-selector>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center auth-img-bg p-3">
                <img src="assets/img/gallery/login.png" alt="" class="img-fluid" width="300" height="230">
              </div>

              <div class="col-lg-6 col-12 px-4 py-3">
                <h4 class="mb-2 card-title">{{'change-password.welcome.header' | translate }}</h4>
                <p *ngIf="!alert.active">{{'change-password.welcome.message' | translate }}</p>
                <hr>

                <ng-container *ngIf="!alert.active">
                  <form [formGroup]="form" *ngIf="alert.type !== 'success'">

                    <div class="form-group">
                      <div class="input-group">
                        <input [type]="newPasswordInputType" formControlName="newPassword" class="form-control"
                          [placeholder]="'change-password.placeholder.password' | translate"
                          [ngClass]="{ 'is-invalid': formSubmitted && lf.newPassword.invalid, 'is-valid': formSubmitted && !lf.newPassword.invalid }"
                          required>
                        <span *ngIf="browserName!=='edge'" class="input-group-append">
                          <button (click)="changePasswordInputType(PasswordType.newPassword)"
                            class="btn btn-outline-secondary border-left-0 border" type="button">
                            <i [class]="newPasswordInputType==='password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                          </button>
                        </span>
                        <div *ngIf="formSubmitted && (lf.newPassword.errors?.required)"
                          class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>
                          {{'change-password.error.required' | translate }}</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <input [type]="retypeNewPasswordInputType" formControlName="newPasswordRetype" class="form-control"
                          [placeholder]="'change-password.placeholder.passwordRetype' | translate"
                          [ngClass]="{ 'is-invalid': formSubmitted && lf.newPasswordRetype.invalid, 'is-valid': formSubmitted && !lf.newPasswordRetype.invalid }">
                          <span *ngIf="browserName!=='edge'" class="input-group-append">
                            <button (click)="changePasswordInputType(PasswordType.retypeNewPassword)" class="btn btn-outline-secondary border-left-0 border"
                              type="button">
                              <i [class]="retypeNewPasswordInputType==='password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                            </button>
                          </span>
                        <div *ngIf="formSubmitted && (lf.newPasswordRetype.errors?.required)"
                          class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>
                          {{'change-password.error.required' | translate }}</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div *ngIf="formSubmitted && (lf.newPasswordRetype.errors?.equal)"
                        class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>
                        {{'change-password.error.equal' | translate }}</div>
                    </div>
                    <div class="d-flex justify-content-end flex-sm-row flex-column">
                      <a class="btn btn-dark" (click)="onSubmit()">{{'change-password.button.submit' | translate }}</a>
                    </div>

                  </form>
                </ng-container>

                <ng-container *ngIf="alert.active">
                  <p>{{ alert.message | translate }}</p>
                </ng-container>

                <hr>
                <div class="d-sm-flex justify-content-end font-small-2">
                  <a [routerLink]="['/']">{{'change-password.link.homePage' | translate }}</a>
                  <ngx-spinner>
                    <p *ngIf="spinnerText" style="font-size: 20px; color: white">{{spinnerText | translate}}</p>
                  </ngx-spinner>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
