<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKZZKF6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="row">
    <div class="col-12">
        <div class="content-sub-header">
            <mat-tab-group id="main-tab" animationDuration="500ms" disableRipple>
                <mat-tab label="{{'account-settings.account.infos.header' | translate }}">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-header">{{'account-settings.account.infos.header' | translate }}
                            </div>
                            <p class="content-sub-header">
                                {{'account-settings.account.infos.subheader' | translate }}
                            </p>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">{{'account-settings.account.infos.contactinfo' |
                                                translate}}</h4>
                                            <hr>
                                            <form>
                                                <div class="form-group">
                                                    <label
                                                        for="inlineFormInputName2">{{'account-settings.account.infos.nameandlastname'
                                                        | translate}}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        for="inlineFormInputName2">{{'account-settings.account.infos.email'
                                                        | translate}}</label>
                                                    <input type="email" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        for="inlineFormInputName2">{{'account-settings.account.infos.celphone'
                                                        | translate}}</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        for="exampleFormControlTextarea1">{{'account-settings.account.infos.adresses'
                                                        | translate}}</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1"
                                                        rows="3"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">{{'account-settings.account.infos.bankaccountinfo' |
                                                translate}}</h4>
                                            <hr>
                                            <form>
                                                <div class="form-group">
                                                    <label
                                                        for="inlineFormInputName2">{{'account-settings.account.infos.ibanno'
                                                        | translate}}</label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label
                                                        for="inlineFormInputName2">{{'account-settings.account.infos.accownername'
                                                        | translate}}</label>
                                                    <input type="text" class="form-control">
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-check">
                    </div>
                    <a class="btn btn-dark">{{'account-settings.account.infos.btnsave'
                        | translate}}</a>
                </mat-tab>

                <mat-tab label="{{'account-settings.password.infos.header' | translate }}">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-header">{{'account-settings.password.infos.header' | translate }}</div>
                            <p class="content-sub-header">
                                {{'account-settings.password.infos.subheader' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{'account-settings.password.infos.subheader' | translate }}
                                    </h4>
                                    <hr>
                                    <form>
                                        <div class="form-group">
                                            <label
                                                for="inlineFormInputName2">{{'account-settings.password.infos.oldpassword'
                                                | translate }}</label>
                                            <input type="password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label
                                                for="inlineFormInputName2">{{'account-settings.password.infos.newpassword'
                                                | translate }}</label>
                                            <input type="password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label
                                                for="inlineFormInputName2">{{'account-settings.password.infos.newpassword1'
                                                | translate }}</label>
                                            <input type="password" class="form-control">
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-dark">{{'account-settings.password.infos.button' | translate }}</a>
                </mat-tab>
                <mat-tab label="{{'account-settings.corporate.infos.header' | translate }}">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-header">
                              {{'account-settings.corporate.infos.header' | translate }}
                            </div>
                            <p class="content-sub-header">
                              {{'account-settings.corporate.infos.subheader' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">
                                      {{'account-settings.corporate.infos.corporate.files' | translate }}
                                    </h4>
                                    <hr />
                                    <label class="form-label" for="customFile">{{'account-settings.corporate.infos.company.partners' | translate }}</label>
                                    <input type="file" class="form-control" id="customFile" />
                                    <div class="list">
                                        <ul>
                                            <li>
                                                <i class="icon-file-alt"></i>sample.jpg
                                                <span class="cancel"><i class="bi bi-images"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <label class="form-label" for="customFile">{{'account-settings.corporate.infos.operating.certificate' | translate }}</label>
                                    <input type="file" class="form-control" id="customFile" />
                                    <div class="list">
                                        <ul>
                                            <li>
                                                <span class="cancel"><i class="bi bi-images"></i>image</span>
                                            </li>
                                        </ul>
                                    </div>

                                    <label class="form-label" for="customFile">{{'account-settings.corporate.infos.tax.plate' | translate }}</label>
                                    <input type="file" class="form-control" id="customFile" />
                                    <div class="list">
                                        <ul>
                                            <li>
                                                <i class="icon-file-alt"></i>sample.jpg
                                                <span class="cancel"><i class="bi bi-images"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <label class="form-label" for="customFile">{{'account-settings.corporate.infos.registry.newspaper' | translate }}</label>
                                    <input type="file" class="form-control" id="customFile" />
                                    <div class="list">
                                        <ul>
                                            <li>
                                                <i class="icon-file-alt"></i>sample.jpg
                                                <span class="cancel"><i class="bi bi-images"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <label class="form-label" for="customFile">{{'account-settings.corporate.infos.signature.circulars' | translate }}</label>
                                    <input type="file" class="form-control" id="customFile" />
                                    <div class="list">
                                        <ul>
                                            <li>
                                                <i class="icon-file-alt"></i>sample.jpg
                                                <span class="cancel"><i class="bi bi-images"></i></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>
