<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKZZKF6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="row">
    <div class="col-12">
        <div class="content-sub-header">
            <mat-tab-group id="main-tab" animationDuration="500ms" disableRipple>
                <mat-tab label="{{'payment-and-invoice.payment.summary.header' | translate }}">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-header">{{'payment-and-invoice.payment.summary.header' | translate }}
                            </div>
                            <p class="content-sub-header">
                                {{'payment-and-invoice.payment.summary.subheader' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h4 class="card-title">12.000<span>&#8378;</span></h4>
                                    <h5>Gelecek Odemeler</h5>
                                    <p class="card-text">
                                        (text text text text text text.)
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h4 class="card-title">12.000<span>&#8378;</span></h4>
                                    <h5>Gelecek Odemeler</h5>
                                    <p class="card-text">
                                        (text text text text)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-tab>

                <mat-tab label="{{'payment-and-invoice.reports.header' | translate }}">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-header">{{'payment-and-invoice.reports.header' | translate }}</div>
                            <p class="content-sub-header">
                                {{'payment-and-invoice.reports.subheader' | translate }}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Islem Raporu</h4>
                                    <hr>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Siparis No</th>
                                                <th scope="col" class="text-center">Siparis Durumu</th>
                                                <th scope="col" class="text-right">Aksiyon</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="text-letf">1</th>
                                                <td class="text-center">Alici Onayinda</td>
                                                <td class="text-right">
                                                    <a class="btn btn-dark">Siparisi Goster</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-letf">2</th>
                                                <td class="text-center">Iade edildi</td>
                                                <td class="text-right">
                                                    <a class="btn btn-dark">Siparisi Goster</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-letf">3</th>
                                                <td class="text-center">Kargoda</td>
                                                <td class="text-right">
                                                    <a class="btn btn-dark">Siparisi Goster</a>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Para Transfer Raporu</h4>
                                    <hr>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-left">Tarih / Zaman</th>
                                                <th scope="col" class="text-center">Yapilan Odeme</th>
                                                <th scope="col" class="text-right">Aksiyon</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="text-letf">1</th>
                                                <td class="text-center">Alici Onayinda</td>
                                                <td class="text-right">
                                                    <a class="btn btn-dark">Fatura Indir</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-letf">2</th>
                                                <td class="text-center">Iade edildi</td>
                                                <td class="text-right">
                                                    <a class="btn btn-dark">Fatura Indir</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="text-letf">3</th>
                                                <td class="text-center">Kargoda</td>
                                                <td class="text-right">
                                                    <a class="btn btn-dark">Fatura Indir</a>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
