<div class="row">
  <div class="col-12">
    <div class="content-header">Dil Desteği</div>
    <p class="content-sub-header mb-1">You can define your sub-header here</p>
  </div>
</div>

<section>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" (click)="update()">Action Buttons</h4>
        </div>
        <div class="card-content">
          <div class="card-body " >
<!--              <div class="form-group form-inline">-->
<!--                Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />-->
<!--                <span class="ml-3" *ngIf="true">Loading...</span>-->
<!--              </div>-->
              <div *ngIf="i18nList && i18nList.length > 0">
                <fieldset class="form-group">
                  <label for="ngx-filter-ref">Search:
                    <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200" type="text"
                           placeholder="Filter the Name column..." (keyup)="filterUpdate($event)" />
                  </label>
                </fieldset>
                <!-- ngx-datatable-inline-editing -->
                <ngx-datatable class="bootstrap core-bootstrap" [headerHeight]="50" [limit]="10"
                               [columnMode]="ColumnMode.force" [footerHeight]="50" rowHeight="auto" [rows]="i18nList"
                               [scrollbarH]="false" (page)="loadI18nList($event)">

                  <ngx-datatable-column [width]="10" name="Id" prop="id">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <div class="d-flex align-items-center">
                          <div class="cell-line-height">
                            <p class="font-medium-1 line-height-1 mb-0">{{ value }}</p>
                          </div>
                        </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="50" name="Locale" prop="locale">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                      <div title="Double click to edit" (dblclick)="editing[rowIndex + '-locale'] = true" *ngIf="!editing[rowIndex + '-locale']">
                        <div class="badge badge-pill" [ngClass]="{'bg-light-success':value == 'en', 'bg-light-danger':value == 'tr'}">
                          {{ value == 'tr' ? "Türkçe" : (value == 'en' ? "English" : 'unknown') }}
                        </div>
                      </div>
                      <select *ngIf="editing[rowIndex + '-locale']" (blur)="editing[rowIndex + '-locale'] = false"
                              (change)="inlineEditingUpdate($event, 'locale', rowIndex)" [value]="value"
                              class="form-control form-control-sm">
                        <option value="tr">Türkçe</option>
                        <option value="en">English</option>
                      </select>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="50" name="UI Module" prop="uiModule">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                      <div title="Double click to edit" (dblclick)="editing[rowIndex + '-uiModule'] = true" *ngIf="!editing[rowIndex + '-uiModule']">
                        <div class="d-flex align-items-center">
                          <div class="cell-line-height">
                            <p class="font-medium-1 line-height-1 mb-0">{{ value }}</p>
                          </div>
                        </div>
                      </div>
                      <input autofocus class="form-control form-control-sm"
                             (blur)="inlineEditingUpdate($event, 'uiModule', rowIndex)" *ngIf="editing[rowIndex + '-uiModule']"
                             type="text" [value]="value" />
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="200" name="Key" prop="key">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                      <div title="Double click to edit" (dblclick)="editing[rowIndex + '-key'] = true" *ngIf="!editing[rowIndex + '-key']">
                        <div class="d-flex align-items-center">
                          <div class="cell-line-height">
                            <p class="font-medium-1 line-height-1 mb-0">{{ value }}</p>
                          </div>
                        </div>
                      </div>
                      <input autofocus class="form-control form-control-sm"
                             (blur)="inlineEditingUpdate($event, 'key', rowIndex)" *ngIf="editing[rowIndex + '-key']"
                             type="text" [value]="value" />
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="200" name="Value" prop="value">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                      <div title="Double click to edit" (dblclick)="editing[rowIndex + '-value'] = true" *ngIf="!editing[rowIndex + '-value']">
                        <div class="d-flex align-items-center">
                          <div class="cell-line-height">
                            <p class="font-medium-1 line-height-1 mb-0">{{ value }}</p>
                          </div>
                        </div>
                      </div>
                      <input autofocus class="form-control form-control-sm"
                             (blur)="inlineEditingUpdate($event, 'value', rowIndex)" *ngIf="editing[rowIndex + '-value']"
                             type="text" [value]="value" />
                    </ng-template>
                  </ngx-datatable-column>

<!--                  <ngx-datatable-column [width]="50" name="Value" prop="value">-->
<!--                    <ng-template ngx-datatable-cell-template let-value="value">-->
<!--                      {{ value }}-->
<!--                    </ng-template>-->
<!--                  </ngx-datatable-column>-->

<!--                  <ngx-datatable-column [width]="100" name="Salary" prop="salary" [width]="100"></ngx-datatable-column>-->

                  <ngx-datatable-column name="Actions" [width]="20">
                    <ng-template ngx-datatable-cell-template>
                      <i class="ft-more-vertical text-primary cursor-pointer mr-2"></i>
                      <i class="ft-edit text-primary cursor-pointer"></i>
                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
                <!--/ ngx-datatable-inline-editing -->

              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
